:root {
    --roboto: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: var(--roboto);
    font-size: 62.5%;
}

.hero {
    width: 100%;
    min-width: 320px;

    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-auto-rows: 250px;
    border-bottom: 1px solid #ddd;

    background-color: #201E1C;

}

.hero-info {
    align-self: center;
    text-align: center;
}

.hero-info h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    padding-bottom: 20px;
    margin: 0 20px;
    color: white;
}

.hero-info p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.4rem;
    padding-bottom: 20px;
    margin: 0 20px;
    color:white;
}

.hero-info button {
    min-width: 120px;
    height: 30px;
    font-size: 1.8rem;
    font-weight: 500;
    background-color: brown;
    box-shadow: 0 4px 4px rgb(61, 61, 61);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px 10px;
}

.hero-info button:hover {
    background-color: rgb(77, 26, 26);
    transition: 2000ms;
}

.hero-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.dishes {
    position: relative;

    width: 100%;
    min-width: 320px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, minmax(150px, 200px));

    justify-content: center;

    gap: 5px;
}

.dishes h2 {
    position: absolute;
    top: calc(50% - 180px);
    left: calc(50% - 68px);

    text-align: center;
    font-size: 2.4rem;
    color: rgb(255, 255, 255);
} 

.dishes p {
    position: absolute; 
    top: calc(50% - 140px);
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6rem;
    color: rgb(218, 218, 218);
    text-align: center;

    margin: 0 20px;
} 

.dish-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.dish-item__big {
    grid-area: 1 / 1 / 3 / 4;
}

.menu {
    margin-bottom: 10px;
}

.menu-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: bolder;
    text-align: center;
    margin: 20px auto;
}

.menu-grid {
    min-width: 320px;
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 1fr;
}

.menu-grid--item {
    background-color: coral;
    border-radius: 8px;
}

.menu-grid--item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

footer {
    width: 100%;
    height: 120px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: #201E1C;
    border-top: 1px solid #e4e4e4;
}

footer ul {
    margin: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

footer .footer-left {
    justify-content: center;
}

footer .footer-right {
    justify-content: center;
}

footer ul li a {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.8rem;
    margin: 20px;
    padding: 10px;
    color: white;
    
}